In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import os

df = pd.read_csv('bestofrt.tsv', sep='\t')
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [2]:
with open('rt_html/et_the_extraterrestrial.html') as file:
    soup = BeautifulSoup(file)

In [3]:
# Find the title of the webpage
soup.find('title')

In [4]:
# String slicing to find the title of the movie
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

The `\xa0` in the title of the movie is Unicode for non-breaking space.

In [5]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'

for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file)
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_='audience-score meter').find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div', class_='audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',', '')
        # Testing if extraction works
        # print(num_audience_ratings)
        # break
        
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
        
df = pd.DataFrame(df_list, columns=['title', 'audience_score', 'number_of_audience_ratings'])

In [6]:
df.head()

,title,audience_score,number_of_audience_ratings
0,Zootopia (2016),92,98633
1,The Treasure of the Sierra Madre (1948),93,25627
2,All Quiet on the Western Front (1930),89,17768
3,Rear Window (1954),95,149458
4,Selma (2015),86,60533